@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Caudex:ital@1&family=Yanone+Kaffeesatz:wght@600&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --grey: #ececec;
  --red: #f78888;
  --yellow: #f3d250;
  --lightblue: #90ccf4;
  --blue: #5da2d5;
  --black: #080f0f;
}

.iconimage {
  display: flex;
  top: 0;
  flex-direction: column;
  height: auto;
  width: 80px;
}

.sidebar {
  background: var(--grey);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
}

.sidebarlink {
  background-color: var(--grey);
  padding: 10px;
  color: black;
  justify-content: space-between;
  align-items: center;
  transition: 1s all ease;
  font-family: "Cardo", serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  top: 50%;
  width: 100%;
  position: relative;
  font-weight: bold;
  border-radius: 0.25rem;
}

.sidebarlink3 {
  width: 100%;
}

.sidebarlink1:hover {
  background-color: var(--red);
}
.sidebarlink2:hover {
  background-color: var(--yellow);
}
.sidebarlink3:hover {
  background-color: var(--lightblue);
}
.sidebarlink.hover {
  background-color: var(--blue);
}

.mainButton {
  @apply shadow hover:shadow-lg outline-none focus:outline-none;
}
