@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Caudex:ital@1&family=Yanone+Kaffeesatz:wght@600&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --grey: #ececec;
  --red: #f78888;
  --yellow: #f3d250;
  --lightblue: #90ccf4;
  --blue: #5da2d5;
}

.header {
  background: var(--grey);
  position: sticky;
  height: 80px;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.headertitle {
  color: black;
  align-items: left;
  justify-content: left;
  display: flex;
  font-family: "Cardo", serif;
}

.headerlink {
  background-color: var(--grey);
  color: black;
  padding: 30px;
  justify-content: center;
  transition: 1s all ease;
  font-family: "Cardo", serif;
}

.headerlink.active {
  background-color: var(--blue);
}

.red:hover {
  background-color: var(--red);
}

.yellow:hover {
  background-color: var(--yellow);
}

.blue:hover {
  background-color: var(--lightblue);
}

.page-container {
  position: relative;
  height: 100%;
  margin-left: 80px;
  /* background-color: var(--lightblue); */
}
