@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Caudex:ital@1&family=Yanone+Kaffeesatz:wght@600&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --grey: #ececec;
  --red: #f78888;
  --yellow: #f3d250;
  --lightblue: #90ccf4;
  --blue: #5da2d5;
}

.signForm {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.labelInput {
  width: 100%;
  margin-top: 5px;
  font-family: "Caudex", serif;
  font-size: large;
}

.label {
  margin: 2rem;
  font-size: larger;
}

.modalContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  position: absolute;
  width: fit-content;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  background-color: var(--lightblue);
  border-radius: 25px;
  box-shadow: 10px 10px var(--blue);
  transition: all 1s ease;
}

.Overlay {
  position: fixed;
  top: 20%;
  left: 75%;
  right: 10%;
  bottom: 80%;
  /* background-color: var(--red);
  opacity: 50%; */
}

.radioDiv {
  display: flex;
  justify-content: space-around;
}
.radioLabelInput {
  margin: 20px;
}

.submitBtn {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--grey);
  box-shadow: 5px 5px darkgrey;
  font-family: "Caudex", serif;
  font-size: larger;
}

.radioLabel {
  padding: 5px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: larger;
}

.radio {
  accent-color: var(--yellow);
}

.radio:hover {
  background-color: var(--grey);
}

.inputBox {
  border: 3px;
  border-style: groove;
  background-color: var(--grey);
  border-color: var(--blue);
  border-radius: 5px;
  display: inline-block;
  float: right;
  clear: right;
  text-align: center;
}

.textHeader {
  font-family: "Cardo", serif;
  font-size: larger;
  font-weight: 700;
  text-align: center;
}
